h1{
    text-align: center;
}

.container{
    border: 2px solid royalblue;
    border-radius: 12px;
}

.row{
    height: 90vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
}

.myList{
    background-color: yellow;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    text-align: center;
}